*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

body{
    background-color: #ffffff;
}

.barraOpciones{
    margin-left: 10vh;
    background-size: cover;
    background-position: center;
    background-color: white;
    flex-direction: row;
}


/*  navegacion   */
nav{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 70px;
}

#primerColumna{
    display: inline;
}

#segundaColumna{
    display: inline;
}

#tercerColumna{
    display: inline;
}

/*   pagina principal     */

#segundaFila{
    display: inline;
    position: absolute;
    margin-left: 10px;
    background-color: #346BFF;
    flex-direction: row;
}

.primer-columna{
    background-color: white;
    float: left;
    display: flexbox;
}

.primer-fila{
    flex-direction: row;
}

.primer-fila a{
    color: white;
}

.primer-fila a:hover{
    background-color: gold;
    transition: all 0.3s;
}

article{
    padding-top: 50px;
	text-align: left;
	margin-bottom: 20px;
    margin-left: 40px;
}
.segunda-columna{
    margin: 0;
    padding: 0;
    float: inline-start;
}

.tercer-fila{
    display: inline-block;
}

.containerImagenes{
    display: inline-flex;
    flex-direction: row;
}

.contenedorImg{
    margin: auto;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*     FINAL DE PAGINA     */

#tercerFila{
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 300px;
    bottom: 0px;
    clear: both;
}

footer{   
	height: 50px;
	text-align: center;
	padding-top: 15px;
}

footer p{
    color: black;
    box-sizing: border-box;
}